body{
  background-color: wheat
  
}
.a{
  text-decoration: underline
}
.a{
  text-size: 50px ;
}
.a{
  text-align: center
}
.b{
  text-align: center
}
.c {
  text-align: right
}
.d{
  text-decoration: underline
}
lable{
  margin-left: 10px
}