.a{
  text-align: left
}
.a{
  padding-right: 40px
}
div{
  height: 120px
}
div{
  padding-left: 10px
}
div{
  padding-right: 20px
}
div{
  background-color: #3b5998 
}
div{
  color: white
}
div{
  text-align: right
}
.a{
  text-align: right
}
hr{
  align-items: right
}
hr{
  width: 400px
}
info{
  text-align: right
  
}

