.a{
  font-size: 55px
}
.a {
  margin-left: 10px
}
.b{
  text-decoration: underline
}
.b {
  margin-left: 10px
}
p {
  margin-left: 5px
}
td{
  border: 2px solid black
}
table{
  margin-left: 15px
}
.c{
  font-size: 48px
}
